<div *ngIf="isLoading">
    <img src="../../assets/images/loading.gif" />
  </div>
  <div *ngIf="isErr" class="error">
    <h3>Something went wrong. Please try later</h3>
  </div>
<section>
  <div class="flex-container" *ngIf="!isLoading && !isErr">
    <div>
      <img [src]="showDetail.image?.original || '../../assets/images/defaultbig.jpg'" />
    </div>
    <div>      
      <h2>{{showDetail?.name}}</h2>
      <p>
        <span *ngIf="showDetail?.language"><strong> Language:</strong> {{showDetail?.language}}<br/></span>
        <span *ngIf="showDetail?.genres"><strong>Genre:</strong> {{showDetail?.genres}}<br/></span>         
        <span *ngIf="showDetail?.network?.name"><strong>Network:</strong> {{showDetail?.network?.name}}<br/></span>         
        <span *ngIf="showDetail?.schedule.days.length">
          <strong> Schedule:</strong>
          <div *ngFor="let day of showDetail.schedule.days">
            {{ day }}
          </div>
          <br/>
        </span>
        <span *ngIf="showDetail?.schedule.time"><strong> Time:</strong> {{showDetail?.schedule.time}}<br/></span>        
        <span *ngIf="showDetail?.runtime"><strong> RunTime:</strong> {{showDetail?.runtime}}<br/></span>        
        <span *ngIf="showDetail?.status"><strong> Status:</strong> {{showDetail?.status}}<br/></span>        
        <span *ngIf="showDetail?.type"><strong> Type:</strong> {{showDetail?.type}}<br/></span>                
        <span *ngIf="showDetail?.rating.average"><strong> Rating:</strong> {{showDetail?.rating.average }}<br/></span>
      </p>

      <strong>Summary :</strong>
      <div [innerHTML]="showDetail?.summary"></div>
      <div class="moreInfo">
        For more information,
        <a href={{showDetail?.url}} target="_blank">Click Here</a>
      </div>
      <div class="text-center">
        <button class="backBtn" [routerLink]="['']">Back</button>
      </div>
    </div>
  </div>
</section>