section{    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,165,187,1) 58%, rgba(54,162,190,0.958420868347339) 87%);
}

input{
color: #20617c;
margin: 20px;
padding: 10px;
border-radius: 25px;
background:#f3f3f3;
}

section h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    padding:20px 10px;
    margin:0;
}

.container{
    margin:5px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;   
}

ul,li{
    list-style-type:none; 
}

li{
    display: flex;
    flex-direction: column;
    background-color: #151513;;
    height: auto;
    padding: 10px;
    margin:10px;
    border:2px solid #fff;
    flex-basis: 15%;
    color: floralwhite;
    position: relative;
    text-align: center;
}

li img {    
    height: auto;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: 2px solid #fbf3f3;
    outline-offset: 2px;
}

li h2{
    color: white;
    
    flex:1;
}

.readMore{
    background-color: darkred;
    color:white;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px; 
    left:20px;   
    bottom: 15px;
    position: absolute;
    cursor: pointer;
}

.image{
    position: relative;
}

.text-center{
    text-align: center;
}

.text-small{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

@media screen and (max-width: 320px){
    li {    
     flex-basis: 100%;
  }
  .readMore{
      left:50px;
  }
}