

<section>
<h1 class="text-center"> Welcome to the TVMaze</h1>
<div *ngIf="isLoading">
  <img src="../../assets/images/loading.gif"/>
</div>
<div *ngIf="isErr">
<h3>Something went wrong. Please try later</h3>
</div>
<ul class="container" *ngIf="!isLoading && !isErr">   
  <li *ngFor="let program of programsList">
    <h2 *ngIf="program?.show?.name">{{ program?.show?.name }}</h2>   
    <div class="image">
    <img [src]="program.show.image?.medium || '../../assets/images/default.jpg'"/> 
    <button class="readMore" [routerLink]="['/shows', program?.show?.id]">Click here to know more</button>
   </div>
    <div class="program-name"> {{ program.name}}</div>
     <div><span class="text-small" *ngIf="program?.season">Season : </span> {{ program?.season}}</div>
     <div><span class="text-small" *ngIf="program?.number">Episode no. : </span> {{ program?.number}}</div>     
     <span *ngIf="program?.airtime"><strong> Time:</strong> {{program?.airtime}}<br/></span>        

  </li>  
</ul>
</section>



