
<div *ngIf="isLoading">
    <img src="../../assets/images/loading.gif"/>
</div>
<div *ngIf="isErr">
  <h3>Something went wrong. Please try later</h3>
</div>

<section>
<h1 class="text-center"> Welcome to the TVMaze</h1>
<input type="text" [formControl]="searchControl" placeholder="Search"/>
<ul class="container" *ngIf="!isLoading && !isErr">   
  <li *ngFor="let program of programsList">
    <h2 *ngIf="program?.name">{{ program?.name }}</h2>
    <h2 *ngIf="!program?.name">{{ program?.show?.name }}</h2>
    <div class="image">
    <img [src]="program.show.image?.medium || '../../assets/images/default.jpg'"/> 
    <button class="readMore" [routerLink]="['/shows', program?.show?.id]">Click here to know more</button>
   </div> 
    <div> <span class="text-small">Language : </span>{{ program.show?.language}}</div>
    <div><span class="text-small">Type : </span> {{ program.show?.type}}</div>
    <div><span class="text-small" *ngIf="program?.season">Season : </span> {{ program?.season}}</div>
  </li>  
</ul>
</section>



